.about {
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 30px 10px;
  padding-top: 10px;
  padding-right: 40px;
  border-right: 2px solid black;
  position: relative;
}
.about .bg-logo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90%;
  height: 100%;
  filter: opacity(0.2);
  z-index: -10;
}
.bg-logo img {
  width: 100%;
  height: 120%;
}
.about h1 {
  padding: 0.05rem;
  font-size: 0.35rem;
}
.about p {
  font-size: 0.17rem;
  font-weight: 700;
  font-family: cursive;
  text-shadow: -1px 0px 2px rgba(0, 0, 0, 0.5);
}
