.about {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about h1 {
  text-align: center;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
  padding: 0.2rem;
  font-size: 0.45rem;
}
.about .abt-section {
  display: flex;
  height: 350px;
  gap: 10px;
}
.about .bg-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
}
.bg-logo img {
  position: relative;
  top: 10px;
  width: 50%;
}
.about .content {
  width: 50%;
  height: 100%;
  padding: 0.3rem 0.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4);
}
.about p {
  font-size: 0.2rem;
  font-family: cursive;
  line-height: 25px;
}
