.contact-us .heading {
  font-style: italic;
  font-display: inherit;
  padding-top: 150px;
  margin-bottom: 50px;
  color: rgb(39, 38, 38);
  align-items: center;
  text-align: center;
  font-size: 30px;
}
.contact-us h2 {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin: 20px 40px;
}

.contact-us .container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.contact-us .container iframe {
  width: 550px;
  height: 400px;
  border: none;
  overflow: hidden;
}
.boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 70px;
}
.box-icons {
  font-size: 50px;
}

.scroller {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
  overflow: scroll;
  white-space: nowrap;
}
.contact-us .event-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 390px;
  position: relative;
  overflow: hidden;
}
.rectangle {
  width: 340px;
  height: 540px;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  background: linear-gradient(90deg, white, 2%, #27ae60);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}
.rectangle1 {
  height: 540px;
  width: 340px;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  font-weight: 500;
  font-size: 15px;
  overflow: hidden;
  background: linear-gradient(90deg, white, 2%, #27ae60);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}
.rectangle2 {
  height: 540px;
  width: 340px;
  display: flexbox;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 50;
  background: linear-gradient(90deg, white, 2%, #27ae60);
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.4);
}
.fb {
  font-style: oblique;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}

.inst {
  font-style: oblique;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}

.twit {
  font-style: oblique;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}

.rectangle ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rectangle1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rectangle2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* font-size: 18px; */
}
.ions {
  background-color: #4968ad;
  padding: 20px 150px;
}
.ions1 {
  background: linear-gradient(130deg, #6e7691 20%, #fd2b93, #ff5819, #ffffff);
  padding: 20px 150px;
}
.ions2 {
  background-color: #49a1eb;
  padding: 20px 150px;
  height: 90px;
}
.ions2 a {
  position: relative;
  top: -20px;
}

a.facebook {
  color: #f3f4f7;
}

a.twitter {
  color: #f3f4f7;
}

a.instagram {
  color: whitesmoke;
}
