.contact-us {
  padding-top: 150px;
  padding-bottom: 150px;
  font-size: 0.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  background: linear-gradient(0deg, white, #aefdbf, white);
}
.social-media-cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.social-media-cards .social-media-card:nth-child(2n + 1) {
  position: relative;
  top: 150px;
}
