* {
  margin: 0;
  box-sizing: border-box;
}

.Login_page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover {
  background-color: white;
  color: #0d150e;
  width: 30em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(100, 150, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.alt-login {
  display: flex;
  flex-direction: row;
}
.alt-login div {
  width: 100%;
  height: 90%;
  border-radius: 0.25em;
  color: white;
  margin: 0.2em;
  background-color: black;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* .google {background-image: url("../");} */
input {
  border: none;
  background-color: rgb(229, 226, 226);
  height: 4em;
  width: 80%;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  font-size: 1rem;
}
input:focus {
  outline-color: #28a745;
}
.login-btn {
  width: 30%;
  height: 3em;
  background-color: #28a745;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* transition: background-color 0.3s ease;  */
}
.login-btn:hover {
  transform: scale(1.12);
  background-color: #218838;
  color: rgb(223, 251, 167);
}
.text {
  position: relative;
}

.login_img {
  display: flex;
  justify-content: flex-start;
  padding-right: 190px;
  height: 50%;
  width: 50%;
}
.login_img_page {
  height: 100%;
  width: 100%;
}
.login_part {
  height: 70%;
  width: 40%;
}
/* .main_login{
    height: 100%;
    width: 100%;
} */
