.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: center;
  transition: all 0.6s;
  z-index: 100;
  font-weight: 500;
  font-size: 15px;
}
.navbar ul li a {
  text-decoration: none;
  color: #108a23;
  text-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
}
.sticky {
  padding: 10px 50px;
  background: linear-gradient(90deg, white, 1%, #27ae60);
  font-size: 18px;
}
.sticky ul li a {
  color: whitesmoke;
}
.sticky .logo img {
  transform: rotate(120deg);
  transition: 1s;
}
.navbar .logo {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  transition: 0.6s;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.navbar ul li {
  list-style: none;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navbar .logo img {
  width: 70px;
  filter: hue-rotate(-20deg);
}
#club {
  display: none;
  font-size: 22px;
  color: white;
}
