.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.6rem;
  position: fixed;
  top: 0px;
  left: 0px;
  align-items: center;
  transition: all 0.6s;
  z-index: 100;
  font-weight: 500;
  font-size: 0.2rem;
}
.navbar ul li a {
  text-decoration: none;
  color: #108a23;
  text-shadow: -2px -2px 10px rgba(0, 0, 0, 0.3);
}
.sticky {
  padding: 0.1rem 0.5rem;
  background: linear-gradient(90deg, white, 1%, #27ae60);
  font-size: 0.18rem;
}
.sticky ul li a {
  color: whitesmoke;
}
.sticky .logo img {
  transform: rotate(120deg);
  transition: 1s;
}
.navbar .logo {
  position: relative;
  font-size: 0.4rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  transition: 0.6s;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  gap: 0.4rem;
}
.navbar ul li {
  list-style: none;
}
.navbar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.navbar .logo img {
  width: 0.7rem;
  filter: hue-rotate(-20deg);
}
#club {
  display: none;
  font-size: 0.22rem;
  color: white;
}
