/*      Media Queries      */
@media screen and (max-width: 1200px) {
  :root {
    font-size: 75px;
  }
  #text {
    font-size: 1.12rem;
  }
  .main-card--cointainer {
    grid-template-columns: repeat(3, 30%);
  }
  .pre-event-imgs {
    padding: 20px;
  }
}
@media screen and (max-width: 1000px) {
  :root {
    font-size: 72px;
  }
  #text {
    font-size: 1.05rem;
  }
  .icons ul {
    position: relative;
    left: 0.5rem;
  }
  /* Contact Us */
  .contact-us {
    align-items: center;
  }
  .social-media-cards {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .social-media-card:nth-child(2) {
    position: relative;
    top: 150px;
  }
}
@media screen and (max-width: 900px) {
  :root {
    font-size: 70px;
    --img-height: 300px;
    --img-width: 230px;
  }
  #text {
    font-size: 1.05rem;
  }
  .icons ul {
    position: relative;
    left: 0.4rem;
  }
  .main-card--cointainer {
    grid-template-columns: repeat(2, 30%);
  }
}

@media screen and (max-width: 845px) {
  :root {
    font-size: 55px;
  }
  #text {
    font-size: 1.7rem;
  }
  .display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  .text-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .display #text {
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
  }
  .icons ul {
    position: relative;
    font-size: 0.5rem;
    left: -0.1rem;
  }

  .display .imglogo {
    width: 50%;
    margin-left: 0;
    font-size: 0.3rem;
  }
  .icons ul li:hover span:nth-child(5) {
    transform: translate(10px, -10px);
  }
  .icons ul li:hover span:nth-child(4) {
    transform: translate(5px, -5px);
  }
  .icons ul li:hover span:nth-child(3) {
    display: none;
  }
  .icons ul li:hover span:nth-child(2) {
    display: none;
  }
  .icons ul li:hover span:nth-child(1) {
    transform: translate(15px, -15px);
    z-index: 100;
  }
  /*        Sencond Section in Home Page */
  .section2 {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 0.05rem;
  }
  .abt-event {
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  .event-img {
    width: 100%;
  }
  /*    About Us     */
  .about {
    border: none;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
  }
  .bg-logo img {
    position: relative;
    top: 10px;
    width: 80%;
  }
  .card-title {
    font-size: 0.6rem;
  }
  .about h1 {
    font-size: 0.65rem;
    padding-top: 0.15rem;
  }
  .about p {
    font-size: 0.32rem;
    padding: 0.4rem;
  }
  /*      Upcoming Events    */
  .up-events {
    width: 100%;
    font-size: 0.37rem;
  }
  .up-events-content p {
    margin: 0.2rem 0.25rem;
    font-size: 0.3rem;
  }
  .imgcard .content-container {
    font-size: 0.35rem;
  }
  /* Batches card */
  .main-card--cointainer {
    grid-template-columns: repeat(2, 35%);
  }
  .card-description {
    height: fit-content;
    border-bottom: 2px solid rgba(107, 105, 105, 0.555);
    padding-bottom: 0.2rem;
    margin-bottom: 0.4rem;
    font-size: 0.3rem;
    line-height: inherit;
  }
  .card-read {
    display: none;
  }
  .footer .waves {
    /* display: none; */
    height: 50px;
    position: absolute;
    top: -50px;
  }
  .waves #wave1 {
    /* display: none; */
    height: 50px;
    position: absolute;
    /* top: -0.1px; */
  }
  .waves #wave2 {
    /* display: none; */
    height: 50px;
    position: absolute;
    /* top: -0.1px; */
  }
  .waves #wave3 {
    /* display: none; */
    height: 50px;
    position: absolute;
    /* top: -0.1px; */
  }
  .waves #wave4 {
    /* display: none; */
    height: 50px;
    position: absolute;
    /* top: -0.1px; */
  }
  #initiator {
    font-size: 15px;
    margin-bottom: 0.2rem;
  }
  #initiator::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: -21px;
    border-radius: 5px;
  }
  #initiator::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -17px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.23rem;
    padding-bottom: 0.2rem;
    height: fit-content;
  }
  .copy-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.25rem;
    font-size: 0.25rem;
    padding-bottom: 0.4rem;
  }
  .footer-icons {
    display: flex;
    width: 100%;
    gap: 0.2rem;
  }
  .footer-icons .fab {
    width: 0.65rem;
    height: 0.65rem;
  }
  .footer-icons i {
    font-size: 0.4rem;
  }
  /* Registration */
  .registration {
    margin-bottom: -150px;
  }
  .ions2 a {
    position: relative;
    top: 0px !important;
  }
}
@media screen and (max-width: 750px) {
  :root {
    font-size: 50px;
    --img-height: 270px;
    --img-width: 200px;
    --img-width1: 240px;
  }
  .batches .card-container img {
    width: var(--img-width1) !important;
  }
  .registration .inputs {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .registration .inputs label {
    font-size: 25px;
  }
  .registration .input:focus-within label,
  .registration input:not(:placeholder-shown) + label {
    transform: translate(-12px, -30px) scale(0.9);
    color: rgb(83, 80, 80);
  }
  .about .abt-section {
    flex-direction: column;
    height: auto;
  }
  .about .bg-logo,
  .about .content {
    width: 100%;
  }
  .bg-logo img {
    position: relative;
    top: 10px;
    width: 50%;
  }
  .up-events {
    padding: 0.3rem;
  }
  .both-events {
    flex-direction: column;
  }
  .up-events-content,
  .pre-events {
    width: 100%;
  }
  .up-events-content h2,
  .pre-events h2 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 650px) {
  :root {
    font-size: 48px;
  }
  .navbar .logo img {
    width: 0.55rem;
  }
  .club {
    font-size: 0.19rem;
  }
  .navbar {
    padding: 0.3rem 0.2rem;
  }
  .sticky {
    padding: 0.1rem 0.2rem;
  }
  .main-card--cointainer {
    grid-template-columns: repeat(1, 50%);
  }
}
@media screen and (max-width: 580px) {
  :root {
    font-size: 45px;
  }
  /* Registration page */
  .login-register-wrapper {
    width: 90%;
  }
  .registration h1 {
    font-size: 40px;
  }
  .registration form {
    padding: 50px 20px;
    margin: 5px;
  }
  .registration .inputs label {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  :root {
    font-size: 48px;
  }
  .display {
    gap: 60px;
  }
  .display img {
    width: 100%;
  }
  .navbar {
    background: linear-gradient(90deg, white, 1%, #27ae60);
    flex-direction: column;
    padding: 0.18rem 0.5rem;
    /* gap: 20px; */
  }

  .navbar .logo {
    align-self: flex-start;
  }
  .nav-btns {
    display: none;
  }
  .nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.32rem;
    width: 100%;
    padding: 10px;
  }
  .nav-btn li {
    padding: 5px;
    background-color: rgb(8, 110, 47);
    width: 60%;
    text-align: center;
    transition: 0.2s;
    margin-bottom: 5px;
    border-radius: 3px;
  }
  .navbar ul li a {
    color: whitesmoke;
    gap: 7px;
  }
  .navbar ul li:hover a {
    background-color: transparent;
  }
  .navbar li:hover {
    background-color: rgb(38, 141, 78);
  }
  .navbar .fas {
    cursor: pointer;
  }
  .fa-bars {
    display: block;
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .fa-times {
    display: block;
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 20px;
  }
  .navbar ul li a i {
    font-size: 0.33rem;
    /* display: none; */
  }
  .navbar .logo img {
    width: 0.8rem;
  }
  .club {
    font-size: 0.3rem;
  }
  #text {
    font-size: 1.2rem;
    text-shadow: rgb(170, 166, 157) 0px 0px 0px, rgb(170, 166, 157) -1px 1px 0px,
      rgb(170, 166, 157) -2px 2px 0px, rgb(170, 166, 157) -3px 3px 0px,
      rgb(170, 166, 157) -4px 4px 0px, rgb(170, 166, 157) -5px 5px 0px;
  }
  .icons ul li span .fab {
    text-shadow: rgb(170, 166, 157) 0px 0px 0px, rgb(170, 166, 157) -1px 1px 0px,
      rgb(170, 166, 157) -2px 2px 0px;
  }
  .icons ul li:hover span:nth-child(n) {
    transform: none;
  }
  .icons ul li:hover:nth-child(n) span {
    background-color: rgba(255, 255, 255, 0);
    background: none;
    transform: scale(1.3);
  }
  .section2 {
    /* margin: 4px; */
    padding: 8px;
  }
  .content p {
    font-size: 0.3rem;
    text-align: justify;
  }
  .members-section {
    padding: 0px 7px;
  }
  .members-section h1 {
    margin: 20px 10px;
  }
  .gallery .images {
    column-count: 2 !important;
  }
  .glimpse-of-gallery .images {
    column-count: 2 !important;
  }
  .light-box::before {
    top: 1rem !important;
  }

  .footer-icons {
    display: flex;
    margin-left: 0.5rem;
    gap: 0.2rem;
  }
  /* Registration page */
  .login-register-wrapper {
    font-size: 0.25rem;
    padding: 0 0.2rem;
  }
  input.submit {
    font-size: 0.34rem;
  }
}
@media screen and (max-width: 450px) {
  .up-details {
    padding: 0.2rem;
  }
  .gallery .images {
    column-count: 1 !important;
  }
  .glimpse-of-gallery .images {
    column-count: 1 !important;
  }
  .active-light-box img {
    width: 90%;
  }
  .pre-img1 {
    column-count: 1;
  }
}
@media screen and (max-width: 400px) {
  :root {
    font-size: 45px;
  }
  .imgcard .content-container {
    font-size: 0.4rem;
  }
  .footer-icons {
    display: flex;
    margin-left: 0.5rem;
    gap: 0.2rem;
  }
  .input .fa-camera {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  :root {
    font-size: 42px;
  }
}
@media screen and (max-width: 340px) {
  :root {
    font-size: 40px;
  }
  #text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 290px) {
  :root {
    font-size: 35px;
  }
}
